* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: gotham-black;
    src: url(../Quem-apagar-é-fei/_material/fonts/gotham-black.woff2)
}
@font-face {
    font-family: gotham-bold;
    src: url(../Quem-apagar-é-fei/_material/fonts/gotham-bold.woff2)
}
@font-face {
    font-family: gotham-book;
    src: url(../Quem-apagar-é-fei/_material/fonts/gotham-book.woff2)
}
@font-face {
    font-family: gotham-light;
    src: url(../Quem-apagar-é-fei/_material/fonts/gotham-light.woff2)
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 90px;
}

.navbar-logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo img {
    height: 60%;
}
.body {
    width: 70em;
    margin: 5% 0 0 20%;
}
.body h1 {
    color: #333;
    font-size: 50px;
    font-family: gotham-black;
}
.linha-preta {
    height: 10px;
    width: 7em;
    background-color: #333;
    margin-top: -10px;
} 
p {
    font-size: 24px;
}
.borda {
    border: 3px solid gray;
    border-radius: 10px;
    margin: 10px;
    padding-bottom: 5em;
}
.horario {
    font-family: gotham-light;
    height: 30em;
}
.horario img {
    width: 34px;
    margin-left: 20px;
    margin-top: 25px;
}
.horario p{
    margin-left: 60px;
    margin-top: -35px;
    font-size: 20px;
}
.horario h2 {
    padding-top: 25px;
    margin-left: 35px;
    color: #808080;
    
}
.horario hr {
    width: 68em;
    margin-top: 15px;
}
.horario input {
    height: 19px;
    width: 19px;
    border:  2px solid black;
    margin-left: 30px;
    margin-top: 35px;
}
.horario label {
    font-size: 20px ;
    color: #808080;
    position: absolute;
    margin-left: 8px;
    margin-top: 32px;
}
#horario_manha{
    padding-left: 43em;
    position: absolute;
}
#horario_tarde{
    padding-left: 43.8em;
    position: absolute;
}
#horario_noite{
    padding-left: 43.5em;
    position: absolute;
    
}
#exibir{
    padding-top: 7px;
}
#resultados {
    position: absolute;
    padding-top: 7px;
    padding-left: 35em;
   
}
.botoes input {
    position: relative;
    left: 13.5em;
    width: 310px;
    height: 50px;
    font-family: gotham-black;
    font-size: 15px;
    border: 1px solid black;
}
.botoes input:hover{
    transition: 1s;
    transform: scale(1.15);
}
.especificacoes{
    height: 160px;
    border: 2px solid #808080;
    margin-top: 50px;
    margin: 10px;
    padding-top: 50px;
    background-color: rgb(231, 231, 231);
}
.especificacoes img {
    width: 80px;
    padding-left: 20px;
}
.especificacoes h3{
    margin-left: 50px;
    margin-top: 10px;
}
.especificacoes ul {
    list-style: none;
    font-size: 20px;
    font-family: gotham-black;
}
.especificacoes p{
    font-size: 20px;
    display: flex;

}
.mask{
    display: flex;
}
.mask li{
    margin-top: -30px;
    margin-left: 80px;
    position: absolute;
    
}
.obrigatorio_mask{
    margin-left: 20px;
}
.toalha{
     margin-left: 16em;
     margin-top: -5.5em;
     display: flex;
}
.toalha li {
    margin-top: -30px;
    margin-left: 80px;
    position: absolute;
    
}
.toalha p{
    margin-left: 10px;
}
.bebedouro {
    display: flex;
}
.bebedouro li {
    margin-top: -30px;
    margin-left: 80px;
    position: absolute;
}
.bebedouro p { 
    margin-left: 30px;
}
.bebedouro_parcial {
    margin-left: 30px;
}
.vestiario {
    display: flex;
    margin-left: 50px;
}
.vestiario li {
    margin-top: -30px;
    margin-left: 120px;
    position: absolute;
}
.bordar_locais{
    border: 3px solid gray;
    border-radius: 10px;
    margin: 10px;
    margin-top: 10em;
}
.locais{
    background-color: rgb(231, 231, 231);
}
.listaDeRecomendacao{
    display: flex;
    justify-content: space-around;
 
   
}

.locais_disponiveis{
 
    height: 363px;
    width: 100%px;
    display: flex;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
}
.locais_informacoes{
    padding: 10px;
    width: 268px;
    height: 330px;
    background-color: rgb(231, 231, 231);
    border: #808080 solid 1px; 
    border-radius: 10px;
    font-size: 10px;
}
.locais_informacoes p{
    font-size: 20px;
}
.locais_informacoes h3 {
    font-size: 25px;
}
.lugar_aberto{
    color: #2FC022;
    font-weight:1000;

}
.lugar_fechado{
color: #dc0a17;
font-weight:1000;
}

.corDoEquipamento{
    color:#333333;
    font-weight:1000;
}

.listadeImagemsEquipamentosEmLocaisDisponiveis{
  display: flex;
  justify-content: space-around;
 
}
.imagemsEquipamentosEmLocaisDisponiveis{
    width: 50px;
    height: 50px;
}
footer{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15em;
}
footer img {
    height: 50px;
    position: absolute;
    margin-top: 10px;
}
footer p{
    position: absolute;
    margin-top: 5em;
    color: white;
}
